{% extends "base.html" %}

{% block content %}
    <h2>Редактировать доску</h2>
    <form method="POST">
        <label for="long_name">Длинное имя:</label>
        <input type="text" id="long_name" name="long_name" value="{{ board.long_name }}" required>
        <label for="description">Описание:</label>
        <textarea id="description" name="description" required>{{ board.description }}</textarea>
        <label for="hidden">Скрытая доска:</label>
        <input type="checkbox" id="hidden" name="hidden" {% if board.hidden %}checked{% endif %}>
        <button type="submit">Сохранить</button>
    </form>
{% endblock %}