{% extends "layout.html" %}
<!doctype html>
<title>212chan</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

{% block body %}
<center>
    <h1>212chan</h1>
    <!-- <p>херня где вы можете писать все что угодно</p> -->
    <p>Но помните вы несете ответственность за посты которые вы делаете</p>
    <img class="img_home" src="static/images/sosa.png" alt="Ops">
    <!-- <a class="admin-link" href="/login" id="admin-link">Ты админ?</a> -->
</center>

<!-- <script>
    document.getElementById('admin-link').addEventListener('click', function(event) {
        event.preventDefault(); // Предотвращаем стандартное поведение ссылки
        var prompt_admin = prompt("?");
    
        if (prompt_admin == "пиво") {
            window.location.href = "/login"; // Перенаправляем 
        } else {
            alert("иди гуляй");
        }
    });
    </script> -->
{% endblock %}