<!doctype html>
<title>/{{ board }}/</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="globals.css" />
<link rel="stylesheet" href="style.css" />

{% block header %}
<center>
<div class="header"> [
	<a href='/'>home</a>
	<a href='/all'>Все</a> ][ 
	<a href='/learn'>Учеба</a>
	<a href='/teacher'>Учителя</a>
	<a href='/media'>Фоточки</a> 
	<a href="/nsfw">NSFW</a> ]
</div>
{% endblock %}

{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
{% endfor %}
</center>

{% block body %}{% endblock %}
<script>
function cite(id) {
	document.getElementById('comment').value+="[@" + id + "](#" + id + ")\n";
}
</script>
